@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-pixelify {
    font-family: var(--font-pixelify-sans);
  }

  .background-inicio {
    background-image: url('/tela-inicio.png');
    background-size: cover;
    image-rendering: pixelated;
    position: fixed;
    width: 100vw;
    height: 1000px;
    overflow: hidden;
    z-index: -1;
  }

  .background-b1 {
    background-image: url('/B1.png');
    background-size: cover;
    image-rendering: pixelated;
    position: fixed;
    width: 100vw;
    height: 1400px;
    overflow: hidden;
    transform: translateY(-455px);
    z-index: -1;
  }

  .background-b2 {
    background-image: url('/B2.png');
    background-size: cover;
    image-rendering: pixelated;
    position: fixed;
    width: 100vw;
    height: 1400px;
    overflow: hidden;
    transform: translateY(-360px);
    z-index: -1;
  }

  .background-molde {
    background-image: url('/MOLDE.png');
    background-size: cover;
    image-rendering: pixelated;
    position: fixed;
    width: 100vw;
    height: 1400px;
    overflow: hidden;
    z-index: 50;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}